<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Search result</title>
</head>
<body>
    <form action="/inframe/term" method="POST" id=frameForm>
        <input type="text" name="search" id="search" placeholder="Full_name or keyword or search term"  >
        <button class="btn btn-primary" id=button>Search</button>
    </form>
    
</body>
</html>